---
import { imageUrl, fullName, location, socialNetworks, name, email, aboutMe } from "@data";
import SocialCard from "./SocialCard.astro";
---

<section
  class="max-w-[700px] bg-custom-dark rounded-3xl px-8 py-12 mx-2 md:mx-auto mb-12"
  id="about"
>
  <div class="flex items-center gap-2 py-2 w-fit">
    <img
      src={imageUrl}
      class="w-24 mr-5 mb-3 rounded-full"
      alt="Icono de pin de mapa"
    />
    <h1 class="text-4xl font-bold mb-4 text-indigo-400">Hola, soy {fullName}</h1>
  </div>
  {
    aboutMe.map(aboutMe => (
      <p class="mb-4">{aboutMe.description}</p>

    ))
  }

  <span class="flex gap-1 items-center text-sm">
    <img
      src="/images/pin-de-mapa.png"
      class="size-4"
      alt="Icono de pin de mapa"
    />
    {location}</span
  >

  <div class="flex flex-wrap gap-4 mt-3">
    <SocialCard
      network="Correo"
      iconUrl="/images/email.png"
      url={`mailto:${email}`}
      title={`Enviar un correo electrónico a ${name}`}
    />
    {
      socialNetworks.map(social => (
        <SocialCard
          {...social}
          title={`Visitar el perfil de ${name} en ${social.network}`}
        />
      ))
    }
  </div>
</section>
